[submodule "contrib/json"]
path = contrib/json
url = https://github.com/nlohmann/json

[submodule "contrib/assets"]
path = contrib/assets
url = https://github.com/Cerulean-Shot-Entertainment/CSE-Tactics-Assets

[submodule "contrib/sdl2-cmake"]
path = contrib/sdl2-cmake
url = https://github.com/aminosbh/sdl2-cmake-modules
[submodule "contrib/sdl2"]
	path = contrib/sdl2
	url = https://github.com/libsdl-org/SDL
